amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
boto==2.48.0
celery==3.1.26.post2
Django==2.0.6
django-celery==3.2.2
django-debug-toolbar==1.9.1
django-jinja==2.4.1
django-redis==4.9.0
django-storages==1.6.6
Jinja2==2.10
kombu==3.0.37
MarkupSafe==1.0
memoized-property==1.0.3
pkg-resources==0.0.0
psycopg2==2.7.3.1
pytz==2018.4
redis==2.10.6
sqlparse==0.2.4