<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700" rel="stylesheet">
<!-- Fonts for icons -->
<link href="{{ static('css/fontawesome-all.min.css') }}" rel="stylesheet">
<!-- bootstrap -->
<link href="{{ static('css/bootstrap.min.css') }}" rel="stylesheet">
<!-- Plugins CSS -->
<link href="{{ static('css/plugins/owl.carousel.min.css') }}" rel="stylesheet">
<link href="{{ static('css/plugins/spacing-and-height.css') }}" rel="stylesheet">
<!-- Style CSS -->
<link href="{{ static('css/theme-modules.css') }}" rel="stylesheet">