<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand" href="index.html">
            <img class="etcodes-normal-logo" src="static/images/logo.png" width="84" height="22" alt="Logo">
            <img class="etcodes-mobile-logo" src="static/images/logo.png" width="84" height="22" alt="Logo">

        </a>
        <button class="navbar-toggler hamburger-menu-btn" type="button" data-toggle="collapse"
                data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                aria-expanded="false" aria-label="Toggle navigation">
            <span>toggle menu</span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown mega_menu_holder">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Home</a>
                    <ul class="dropdown-menu mega_menu">
                        <li class="nav-item">
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Homepages A</a>
                            <ul class="dropdown-menu">
                                <a class="dropdown-item" href="demo-landing.html">0 - Landing Page</a>
                                <a class="dropdown-item" href="index.html">1 - Creative</a>
                                <a class="dropdown-item" href="home-2.html">2 - Creative</a>
                                <a class="dropdown-item" href="home-3.html">3 - Creative Business</a>
                                <a class="dropdown-item" href="home-4.html">4 - Portfolio</a>
                                <a class="dropdown-item" href="home-5.html">5 - Creative Business</a>
                                <a class="dropdown-item" href="home-6.html">6 - Blog Grid</a>
                                <a class="dropdown-item" href="home-7.html">7 - Creative Agency</a>
                                <a class="dropdown-item" href="home-8.html">8 - Tea Business & Shop</a>
                                <a class="dropdown-item" href="home-9.html">9 - Interior & Architect</a>
                                <a class="dropdown-item" href="home-10.html">10 - Grid Portfolio</a>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Homepages B</a>
                            <ul class="dropdown-menu">
                                <a class="dropdown-item" href="home-11.html">11 - Yoga Business</a>
                                <a class="dropdown-item" href="home-12.html">12 - Consulting & Coaching</a>
                                <a class="dropdown-item" href="home-13.html">13 - Grid Shop</a>
                                <a class="dropdown-item" href="home-14.html">14 - Architect Company</a>
                                <a class="dropdown-item" href="home-15.html">15 - Photography</a>
                                <a class="dropdown-item" href="home-16.html">16 - Video Production</a>
                                <a class="dropdown-item" href="home-17.html">17 - Consulting & Coaching</a>
                                <a class="dropdown-item" href="home-18.html">18 - Exhibitions & Shop</a>
                                <a class="dropdown-item" href="home-19.html">19 - Masonry Blog</a>
                                <a class="dropdown-item" href="home-20.html">20 - Interior & Architect</a>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Homepages C</a>
                            <ul class="dropdown-menu">
                                <a class="dropdown-item" href="home-21.html"> 21 - Portfolio Slider</a>
                                <a class="dropdown-item" href="home-22.html">22 - Portfolio Multi-Carousel</a>
                                <a class="dropdown-item" href="home-23.html">23 - Business Coach</a>
                                <a class="dropdown-item" href="home-24.html">24 - The Spa</a>
                                <a class="dropdown-item" href="home-25.html">25 - Plant Boutique</a>
                                <a class="dropdown-item" href="home-26.html">26 - Beauty Salon</a>
                                <a class="dropdown-item" href="home-27.html">27 - Magazine & Blog Dark</a>
                                <a class="dropdown-item" href="home-28.html">28 - Magazine & Blog Light</a>
                                <a class="dropdown-item" href="home-29.html">29 - Digital Agency</a>
                                <a class="dropdown-item" href="home-30.html">30 - Portfolio Carousel</a>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Homepages D</a>
                            <ul class="dropdown-menu">
                                <a class="dropdown-item" href="home-31.html">31 - Portfolio Multi Carousel</a>
                                <a class="dropdown-item" href="home-32.html">32 - Creative Agency</a>
                                <a class="dropdown-item" href="home-33.html">33 - Coworking Space</a>
                                <a class="dropdown-item" href="home-34.html">34 - Dog Walker</a>
                                <a class="dropdown-item" href="home-35.html">35 - Grid Portfolio</a>
                                <a class="dropdown-item" href="home-36.html">36 - Clothing Store</a>
                                <a class="dropdown-item" href="home-37.html">37 - Clothing Brand</a>
                                <a class="dropdown-item" href="home-38.html">38 - Clothing Boutique</a>
                                <a class="dropdown-item" href="home-39.html">39 - Clothing Store</a>
                                <a class="dropdown-item" href="home-40.html">40 - App Landing Page</a>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Homepages C</a>
                            <ul class="dropdown-menu">
                                <a class="dropdown-item" href="home-41.html">41 - Photography</a>
                                <a class="dropdown-item" href="home-42.html">42 - Parallax Portfolio</a>
                                <a class="dropdown-item" href="home-43.html">43 - Creative Portfolio</a>
                                <a class="dropdown-item" href="home-44.html">44 - Grid Overlay Blog</a>
                                <a class="dropdown-item" href="home-45.html">45 - Online Tutor</a>
                                <a class="dropdown-item" href="home-46.html">46 - Nutrition/Dietitian</a>
                                <a class="dropdown-item" href="home-47.html">47 - Creative Business</a>
                                <a class="dropdown-item" href="home-48.html">48 - Coming Soon</a>
                                <a class="dropdown-item" href="home-49.html">49 - Coming Soon</a>
                                <a class="dropdown-item" href="home-50.html">50 - Coming Soon</a>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link" aria-haspopup="true"
                       aria-expanded="false">Pages</a>
                    <ul class="dropdown-menu">
                        <li class="nav-item dropdown-submenu">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle dropdown-item"
                               aria-haspopup="true">About Us</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="page-about-us.html" class="dropdown-item">About Us 1</a>
                                </li>
                                <li class="nav-item">
                                    <a href="page-about-us-2.html" class="dropdown-item">About Us 2</a>
                                </li>
                                <li class="nav-item">
                                    <a href="page-about-us-3.html" class="dropdown-item">About Us 3</a>
                                </li>
                                <li class="nav-item">
                                    <a href="page-about-us-4.html" class="dropdown-item">About Us 4</a>
                                </li>
                                <li class="nav-item">
                                    <a href="page-about-us-5.html" class="dropdown-item">About Us 5</a>
                                </li>
                                <li class="nav-item">
                                    <a href="page-about-us-6.html" class="dropdown-item">About Us 6</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown-submenu">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle dropdown-item"
                               aria-haspopup="true">Contact Us</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="page-contact.html" class="dropdown-item">Contact Us 1</a>
                                </li>
                                <li class="nav-item">
                                    <a href="page-contact-2.html" class="dropdown-item">Contact Us 2</a>
                                </li>
                                <li class="nav-item">
                                    <a href="page-contact-3.html" class="dropdown-item">Contact Us 3</a>
                                </li>
                                <li class="nav-item">
                                    <a href="page-contact-4.html" class="dropdown-item">Contact Us 4</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown-submenu">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle dropdown-item"
                               aria-haspopup="true">Services</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="page-service-1.html" class="dropdown-item">Service 1</a>
                                </li>
                                <li class="nav-item">
                                    <a href="page-service-2.html" class="dropdown-item">Service 2</a>
                                </li>
                                <li class="nav-item">
                                    <a href="page-service-3.html" class="dropdown-item">Service 3</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown-submenu">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle dropdown-item"
                               aria-haspopup="true">Team</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="page-team-1.html" class="dropdown-item">Team 1</a>
                                </li>
                                <li class="nav-item">
                                    <a href="page-team-2.html" class="dropdown-item">Team 2</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown-submenu">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle dropdown-item"
                               aria-haspopup="true">Utilities</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="page-404.html" class="dropdown-item">Error 404</a>
                                </li>
                                <li class="nav-item">
                                    <a href="page-faq.html" class="dropdown-item">FAQ</a>
                                </li>
                                <li class="nav-item">
                                    <a href="search-result.html" class="dropdown-item">Search Result</a>
                                </li>
                                <li class="nav-item">
                                    <a href="page-pricing.html" class="dropdown-item">Pricing</a>
                                </li>
                                <li class="nav-item">
                                    <a href="page-maintenance.html" class="dropdown-item">Maintenance</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown mega_menu_holder">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Portfolio</a>
                    <ul class="dropdown-menu mega_menu">
                        <li class="nav-item">
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Standard</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="portfolio-standard-two-col.html">Standard Two
                                        Columns</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="portfolio-standard-three-col.html">Standard Three
                                        Columns</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="portfolio-standard-three-col-wide.html">Standard
                                        Three Columns Wide</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="portfolio-standard-four-col.html">Standard Four
                                        Columns</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="portfolio-standard-four-col-wide.html">Standard Four
                                        Columns Wide</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Gallery</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="portfolio-gallery-two-col.html">Gallery Two
                                        Columns</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="portfolio-gallery-three-col.html">Gallery Three
                                        Columns</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="portfolio-gallery-three-col-wide.html">Gallery Three
                                        Columns Wide</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="portfolio-gallery-four-col.html">Gallery Four
                                        Columns</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="portfolio-gallery-four-col-wide.html">Gallery Four
                                        Columns Wide</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Single Group 1</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="portfolio-single-small-carousel.html">Small
                                        Slider</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="portfolio-single-small-gallery.html">Small
                                        Gallery</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="portfolio-single-small-images.html">Small Images</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="portfolio-single-small-masonry.html">Small
                                        Masonry</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="portfolio-single-big-carousel.html">Big Slider</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="portfolio-single-big-gallery.html">Big Gallery</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="portfolio-single-big-images.html">Big Images</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="portfolio-single-big-masonry.html">Big Masonry</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Single Group 2</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="portfolio-details-1.html">Portfolio Details 1</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="portfolio-details-2.html">Portfolio Details 2</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="portfolio-details-3.html">Portfolio Details 3</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown mega_menu_holder">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Blog</a>
                    <ul class="dropdown-menu mega_menu">
                        <li class="nav-item">
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Blog Style Stander</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="blog-standard.html">Standard Blog</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="blog-standard-right-sidebar.html">Standard Blog with
                                        Right Sidebar</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="blog-standard-left-sidebar.html">Standard Blog with
                                        Left Sidebar</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="blog-standard-two-col-right-sidebar.html">Standard
                                        Blog with two col Right Sidebar</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="blog-standard-two-col-left-sidebar.html">Standard
                                        Blog with two col Left Sidebar</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Blog Style</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="blog-card-three-col.html">Card Blog Three Col</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="blog-card-two-col-right-sidebar.html">Card Blog with
                                        two col Right Sidebar</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="blog-card-two-col-left-sidebar.html">Card Blog with
                                        two col Left Sidebar</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="blog-list-right-sidebar.html">List Blog with Right
                                        Sidebar</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="blog-list-left-sidebar.html">List Blog with Left
                                        Sidebar</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="blog-overlay-three-col.html">Overlay Blog Three
                                        Col</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Single Blog Style</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="blog-single-post.html">Single Blog</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="blog-single-post-right-sidebar.html">Single Blog with
                                        Right sidebar</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="blog-single-post-left-sidebar.html">Single Blog with
                                        Left sidebar</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="blog-post-single-gallery.html">Gallary Blog Post</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="blog-post-single-video.html">Video Blog Post</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="blog-post-single-audio.html">Audio Blog Post</a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkShop" data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">Shop</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkShop">
                        <a class="dropdown-item" href="shop-right-sidebar.html">Shop Right Sidebar</a>
                        <a class="dropdown-item" href="shop-left-sidebar.html">Shop Left Sidebar</a>
                        <a class="dropdown-item" href="shop-full-width.html">Shop Full Width</a>
                        <a class="dropdown-item" href="shop-single-product.html">Shop Single Product</a>
                    </div>
                </li>
                <li class="nav-item dropdown mega_menu_holder">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Elements</a>
                    <ul class="dropdown-menu mega_menu">
                        <li class="nav-item">
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Typography</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="elements-accordions.html">Accordions</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="elements-banner.html">Banner</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="elements-blockquote.html">Blockquote</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="elements-call-to-action.html">Call To Action</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="elements-typography.html">Typography</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="elements-dropcaps.html">Dropcaps</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="elements-headings.html">Headings</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="elements-highlights.html">Highlights</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Basic Elements</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="elements-buttons.html">Buttons</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="elements-columns.html">Columns</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="elements-contact-form.html">Contact Form</a>
                                </li>

                                <li>
                                    <a class="dropdown-item" href="elements-google-maps.html">Google Maps</a>
                                </li>

                                <li>
                                    <a class="dropdown-item" href="elements-lists.html">Lists</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="elements-tables.html">Tables</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="elements-tabs.html">Tabs</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="elements-galleries.html">Galleries</a>
                                </li>

                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Content</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="elements-blog-post.html">Blog Post</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="elements-clients.html">Clients</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="elements-icon-content-box.html">Icon Content Box</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="elements-image-content-box.html">Image Content
                                        Box</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="elements-numbered-process.html">Numbered Process</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="elements-pricing-table.html">Pricing Table</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="elements-slider.html">Slider</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="elements-social-icons.html">Social Icons</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Infographic</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="elements-counters.html">Counters</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="elements-countdown.html">Countdown</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="elements-progress-bar.html">Progress Bar</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="elements-team.html">Team</a>
                                </li>

                                <li>
                                    <a class="dropdown-item" href="elements-testimonials.html">Testimonials</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown mega_menu_holder">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Features</a>
                    <ul class="dropdown-menu mega_menu">
                        <li class="nav-item">
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Header Styles</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="feature-header-transparent.html">Transparent
                                        header</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="feature-header-white.html">White header</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="feature-header-dark.html">Dark header</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="feature-header-with-top-bar.html">Header with top
                                        bar</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="feature-header-with-push.html">Header with push</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="feature-header-center-navigation.html">Center
                                        navigation</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="feature-header-center-logo.html">Center logo</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="feature-header-top-logo.html">Top logo</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="feature-header-one-page-navigation.html">One page
                                        navigation</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="feature-header-hamburger-menu.html">Hamburger
                                        menu</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="feature-header-hamburger-menu-center-logo.html">Hamburger
                                        Center logo</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="feature-header-sidebar-menu.html">Sidebar Menu</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Footer</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="feature-footer-standard.html">Footer standard</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="feature-footer-standard-dark.html">Footer standard
                                        dark</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="feature-footer-standard-2.html">Footer standard 2</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="feature-footer-standard-2-dark.html">Footer standard
                                        2 dark</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="feature-footer-strip.html">Footer strip</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="feature-footer-strip-dark.html">Footer strip dark</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="feature-footer-center">Footer center</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="feature-footer-center-logo.html">Footer center
                                        logo</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="feature-footer-center-logo-dark.html">Footer center
                                        logo dark</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="feature-footer-modern.html">Footer modern </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="feature-footer-modern-dark.html">Footer modern
                                        dark </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Others</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="feature-page-title-left.html">Page Title Left
                                        alignment</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="feature-page-title-right.html">Page Title Right
                                        alignment
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="feature-page-title-center.html">Page Title Center
                                        alignment
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="feature-page-title-bg-img.html">Page Title BG
                                        Image</a>
                                </li>
                                <li class="dropdown-divider m-3"></li>
                                <li>
                                    <a class="dropdown-item" href="elements-animation.html">Animation</a>
                                </li>

                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>