{% extends "layout/main.html" %}
{% block content %}
    <!-- Page Loader -->
    <div class="page_loading">
        <div class="spinner"></div>
    </div>

    <!-- Slider -->
    <div id="default-carousel" class="owl-carousel default-owl-carousel">
        <div class="owl-carousel-item">
            <div class="owl-carousel-item-content">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-8">
                            <h1 class="h1-large  font-weight-bold mb-30px mb-md-20px">Maira Sultan - Online Tutor Zoology
                            </h1>
                            <p class="lead mb_30 d-none d-md-block mb-35px pr-lg-115px">I am an MSci Biological Sciences (Zoology) graduate from University College Umda University,
                                Lahore PK
                            </p>

                            <a class="btn btn-outline-dark rounded-0" href="#">Book A Class</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-image">
                <img src="{{ static('images/home-45/s1.jpg') }}" alt="Picture">
            </div>
        </div>
        <div class="owl-carousel-item">
            <div class="owl-carousel-item-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <h1 class="h1-large font-weight-bold mb-30px mb-md-20px">Great Gesign Drives Sales</h1>
                            <p class="lead mb_30 d-none d-md-block mb-35px pr-lg-115px">Aenean lacinia bibendum sed consectetur. Etiam porta sem malesuada magna mollis euismod.
                                Fusce dapibus.</p>
                            <a class="btn btn-outline-dark rounded-0" href="#">Book A Class</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-image">
                <img src="{{ static('images/home-45/s1.jpg') }}" alt="Picture">
            </div>
        </div>
    </div>
    <!-- Testimonials -->
    <div class="container mt-75px mb-100px">
        <div class="mb-15px">
            <h4>What our awesome customers say ?</h4>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="testimonials_box" class="owl-carousel testimonials testimonials_box">
                    <div class="testimonial">
                        <div class="row small-gutters align-items-center mb-25px">
                            <div class="col-4 col-sm-2 col-lg-4">
                                <div class="testimonial-img">
                                    <img class="rounded-circle" src="{{ static('images/team/t1.png') }}" alt="team">
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="client">
                                    <div class="client-info">
                                        <span class="client-name">
                                            <a href="http://www.energeticthemes.com/">James Anderson</a>
                                        </span>
                                        <div class="client-job">Project Manger</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p>Aenean sit amet dui vel augue turpis uada aliquam vel nec eros. Praesent et stas, libero
                            eu tincidunt sodales, lorem placerat lorem, ac hendrerit dolor turpis sed purus tincidunt.
                        </p>
                    </div>
                    <div class="testimonial">
                        <div class="row small-gutters align-items-center mb-25px">
                            <div class="col-4 col-sm-2 col-lg-4">
                                <div class="testimonial-img">
                                    <img class="rounded-circle" src="{{ static('images/team/t2.png') }}" alt="team">
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="client">
                                    <div class="client-info">
                                        <span class="client-name">
                                            <a href="http://www.energeticthemes.com/">Ahamd Jabar</a>
                                        </span>
                                        <div class="client-job">Project Manger</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p>Aenean sit amet dui vel augue turpis uada aliquam vel nec eros. Praesent et stas, libero
                            eu tincidunt sodales, lorem placerat lorem, ac hendrerit dolor turpis sed purus tincidunt.
                        </p>
                    </div>
                    <div class="testimonial">
                        <div class="row small-gutters align-items-center mb-25px">
                            <div class="col-4 col-sm-2 col-lg-4">
                                <div class="testimonial-img">
                                    <img class="rounded-circle" src="{{ static('images/team/t3.png') }}" alt="team">
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="client">
                                    <div class="client-info">
                                        <span class="client-name">
                                            <a href="http://www.energeticthemes.com/">Fahad Khokher</a>
                                        </span>
                                        <div class="client-job">Project Manger</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p>Aenean sit amet dui vel augue turpis uada aliquam vel nec eros. Praesent et stas, libero
                            eu tincidunt sodales, lorem placerat lorem, ac hendrerit dolor turpis sed purus tincidunt.
                        </p>
                    </div>
                    <div class="testimonial">
                        <div class="row small-gutters align-items-center mb-25px">
                            <div class="col-4 col-sm-2 col-lg-4">
                                <div class="testimonial-img">
                                    <img class="rounded-circle" src="/{{ static('images/team/t1.png') }}" alt="team">
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="client">
                                    <div class="client-info">
                                        <span class="client-name">
                                            <a href="http://www.energeticthemes.com/">James Anderson</a>
                                        </span>
                                        <div class="client-job">Project Manger</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p>Aenean sit amet dui vel augue turpis uada aliquam vel nec eros. Praesent et stas, libero
                            eu tincidunt sodales, lorem placerat lorem, ac hendrerit dolor turpis sed purus tincidunt.
                        </p>
                    </div>
                    <div class="testimonial">
                        <div class="row small-gutters align-items-center mb-25px">
                            <div class="col-4 col-sm-2 col-lg-4">
                                <div class="testimonial-img">
                                    <img class="rounded-circle" src="{{ static('images/team/t2.png') }}" alt="team">
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="client">
                                    <div class="client-info">
                                        <span class="client-name">
                                            <a href="http://www.energeticthemes.com/">Ahamd Jabar</a>
                                        </span>
                                        <div class="client-job">Project Manger</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p>Aenean sit amet dui vel augue turpis uada aliquam vel nec eros. Praesent et stas, libero
                            eu tincidunt sodales, lorem placerat lorem, ac hendrerit dolor turpis sed purus tincidunt.
                        </p>
                    </div>
                    <div class="testimonial">
                        <div class="row small-gutters align-items-center mb-25px">
                            <div class="col-4 col-sm-2 col-lg-4">
                                <div class="testimonial-img">
                                    <img class="rounded-circle" src="{{ static('images/team/t3.png') }}" alt="team">
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="client">
                                    <div class="client-info">
                                        <span class="client-name">
                                            <a href="http://www.energeticthemes.com/">Fahad Khokher</a>
                                        </span>
                                        <div class="client-job">Project Manger</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p>Aenean sit amet dui vel augue turpis uada aliquam vel nec eros. Praesent et stas, libero
                            eu tincidunt sodales, lorem placerat lorem, ac hendrerit dolor turpis sed purus tincidunt.
                        </p>
                    </div>
                    <div class="testimonial">
                        <div class="row small-gutters align-items-center mb-25px">
                            <div class="col-4 col-sm-2 col-lg-4">
                                <div class="testimonial-img">
                                    <img class="rounded-circle" src="{{ static('images/team/t1.png') }}" alt="team">
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="client">
                                    <div class="client-info">
                                        <span class="client-name">
                                            <a href="http://www.energeticthemes.com/">James Anderson</a>
                                        </span>
                                        <div class="client-job">Project Manger</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p>Aenean sit amet dui vel augue turpis uada aliquam vel nec eros. Praesent et stas, libero
                            eu tincidunt sodales, lorem placerat lorem, ac hendrerit dolor turpis sed purus tincidunt.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}